<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://ww2.sinaimg.cn/thumbnail/64a55bbagw1f54hjxm55rj20h70h3jv8.jpg</string>
	<string>http://ww1.sinaimg.cn/thumbnail/64a55bbagw1f54hk65emij20jq0jntf4.jpg</string>
	<string>http://ww2.sinaimg.cn/thumbnail/64a55bbagw1f54hkc3t3xj20jq0jntdc.jpg</string>
	<string>http://ww2.sinaimg.cn/thumbnail/64a55bbagw1f54hkjin43j20h70h3grs.jpg</string>
	<string>http://ww3.sinaimg.cn/thumbnail/64a55bbagw1f54hkpvrocj20h60h5wii.jpg</string>
	<string>http://ww2.sinaimg.cn/thumbnail/64a55bbagw1f54hkuvub7j20h70h6448.jpg</string>
	<string>http://ww2.sinaimg.cn/thumbnail/64a55bbagw1f54hky552aj20h60h6ae9.jpg</string>
	<string>http://ww3.sinaimg.cn/thumbnail/64a55bbagw1f54hl0zz4gj20jp0joagh.jpg</string>
	<string>http://ww3.sinaimg.cn/thumbnail/64a55bbagw1f54hl51trgj20h70h7wjf.jpg</string>
</array>
</plist>
